<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>我要点赞</title>
		#ICON()
        #CSSM(["font-awesome", "bootstrap"])
		<style>
		body { padding-bottom: 70px; }
		</style>
		#UA()
	</head>
	<body>
		#if($!stringUtil.isEmpty($!{trade.tradeCode}))
			无
		#else
			<img src="$!{env.imgUrl}/image/trade/pic.png" class="img-responsive" />
    		<div class="panel panel-info">
    			<table class="table table-striped">
                    <tbody>
    					<tr>
    						<td class="text-center">商品名称</td>
    						<td>$!{trade.itemName}</td>
    					</tr>
    					<tr>
    						<td class="text-center">卖家名称</td>
    						<td>$!{trade.sellerName}</td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
    		#if($!stringUtil.isEmpty($!{trade.like}))
    		<div class="text-center">
    			<a class="btn btn-default btn-lg" id="btn" data-loading-text="正在发送数据..." href="javascript:like();">
    				<i class="fa fa-thumbs-o-up" style="color: green; font-size: 25px;"></i> 赞
    			</a>
            </div>
    		#end
		#end
		
		<form class="" role="form" method="post">
			<input type="hidden" name="tradeCode" value="$!{trade.tradeCode}"></input>
        </form>
		
		<iframe id="hideFrame" name="hideFrame" style="display:none"></iframe>
		#JSM(["jquery", "bootstrap"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/trade/detail.js"></script>
    </body>
</html>