<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>我要点赞</title>
		#ICON()
        #CSSM(["font-awesome", "bootstrap"])
		<style>
		body { padding-bottom: 70px; }
		.col-xs-4 { padding-right: 0; padding-left: 0; }
		</style>
		#UA()
	</head>
	<body>
		#if($!stringUtil.isEmpty($!{trade.tradeCode}))
			无
		#else
			<div class="row">
				<img src="$!{env.imgUrl}/image/trade/pic.png" class="img-responsive" />
            </div>
			<div class="row" style="margin-right: 0; margin-left: 0;">
				#foreach($batchPic in $!{itemBatch.batchPicList})
				<div class="col-xs-4"">
					<div class="thumbnail" style="margin-bottom: 9px;"><img src="$!{batchPic.picUrl}" /></div>
				</div>
				#end
			</div>
			
			<table class="table">
                <tbody>
					<tr>
						<td class="text-center" style="width: 25%;">卖家名称：</td><td style="width: 25%;">$!{itemBatch.item.sellerName}</td>
						<td class="text-center" style="width: 25%;">品名：</td><td style="width: 25%;">$!{itemBatch.item.itemName}</td>
                    </tr>
					<tr>
						<td class="text-center">等级：</td><td>特级</td>
						<td class="text-center">产地：</td><td>杭州西湖区</td>
					</tr>
					<tr>
						<td class="text-center">采摘日期：</td><td>2016-01-01</td>
						<td class="text-center">炒制日期：</td><td>2016-01-02</td>
					</tr>
					<tr>
						<td class="text-center">包装日期：</td><td>2016-01-03</td>
						<td class="text-center">发货日期：</td><td>2016-01-04</td>
					</tr>
					<tr>
						<td class="text-center">送检报告：</td><td colspan="3">浙00001</td>
					</tr>
				</tbody>
			</table>
			
    		#if($!stringUtil.isEmpty($!{trade.like}))
    		<div class="text-center">
    			<a class="btn btn-default btn-lg" style="margin-right: 10px;" id="btn1" data-loading-text="正在发送数据..." href="javascript:like();">
    				<i class="fa fa-thumbs-o-up" style="color: green; font-size: 25px;"></i> 点赞
    			</a>
				<a class="btn btn-default btn-lg" id="btn2" data-loading-text="正在发送数据..." href="javascript:unlike();">
    				<i class="fa fa-thumbs-o-down" style="font-size: 25px;"></i> 差评
    			</a>
            </div>
    		#end
		#end
		
		<form class="" role="form" method="post">
			<input type="hidden" name="tradeCode" value="$!{trade.tradeCode}"></input>
        </form>
		
		<iframe id="hideFrame" name="hideFrame" style="display:none"></iframe>
		#JSM(["jquery", "bootstrap"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/trade/detail.js?t=20151207"></script>
    </body>
</html>